.info_widget__header {
    background-color: #f1ede4;
    top: 0;
    right: 0;
    left: 0;
    padding: 3px 3px;
    font-size: 16px;
    font-weight: bold;
    color: #c2c0bc;
}

.info_widget__body {
    position: relative;
    padding: 3px 3px 10px 7px;
    border: none;
    border-radius: 0;
    overflow: auto;
    line-height: 1.5;
    font-size: 18px;
    background: #f8f5ec;
    font-family: Titillium Web,sans-serif;
    /*font-family: 'source-code-pro', Menlo, Consolas, 'Courier New', monospace;*/
}

.info_widget__key {
    font-weight: bold;
    margin: 5px 0;
    font-size: 18px;
}

.info_widget__toggable_key:hover {
    color: #005999;
    background-color: rgba(0,119,204,0.1);
    border-color: transparent;
    box-shadow: none;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    border-radius: 5px;
}

.info_widget__value {
    margin: 5px 0;
    font-size: 16px;
}

.nested_info_widget {
    padding-left: 30px;
}