/*TODO: move to saas*/

html {
    height: 100%;
}


body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    align-items: flex-start;
    height: calc(100vh - 50px);
    flex: 1;
}

.right {
    overflow-y: scroll;
}

.left, .right {
    height: calc(100vh - 50px);
    flex: 1;
    flex-basis: 50%;
}

.left {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 50px);
}