body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
    display: flex;
}

.container {
    display: flex;
    position: absolute;
    height: 100%;
    flex-direction: row;
    align-items: flex-start;
}

.build {
    overflow-y: scroll;
}

.editor {
    flex: 1;
}

.build {
    flex: 1;
}