html {
    height: 100%;
}


body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100vh;
    flex: 1;
}

.build {
    overflow-y: scroll;
}

.left, .build {
    height: 100%;
    flex: 1;
    flex-basis: 50%;
}

.left {
    display: flex;
    flex-direction: column;
    height: 100vh;
}